# Data Structure Methods & Comprehensions Exercise 3A (Compulsory)

1. Create a list with only odd numbers from 1 to 23.


```
e.g. [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
```

In [16]:
a_list = list(range(1,24))
b_list = a_list[::2]
print(b_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

2. Calculate the sum of the digits from the string:
```'2347805673456'```

In [48]:
c_list = list('2347805673456')
c_list = [int(i) for i in c_list]
sum(c_list)

60

3. Convert the string to a list and uppercase each word.
```
s = "hello world and practice makes permanent and hello world again"
```
```
output:
['HELLO',
 'WORLD',
 'AND',
 'PRACTICE',
 'MAKES',
 'PERMANENT',
 'AND',
 'HELLO',
 'WORLD',
 'AGAIN']
```

In [54]:
s = "hello world and practice makes permanent and hello world again"
s = s.upper().split()
print(s)

['HELLO', 'WORLD', 'AND', 'PRACTICE', 'MAKES', 'PERMANENT', 'AND', 'HELLO', 'WORLD', 'AGAIN']

4. Get all the keys from the dictionary:
```
cars = {'cars':['bmw, tesla'], 'food':['mexican', 'sushi'], 'location': 'hong kong'}
```
```
output:
dict_keys(['cars', 'food', 'location'])
```

In [56]:
cars = {'cars':['bmw, tesla'], 'food':['mexican', 'sushi'], 'location': 'hong kong'}
cars.keys()

dict_keys(['cars', 'food', 'location'])

5. Combine the two lists together in the same sequence.

```
l1 = ['basketball', 'gym', 'football', 'cycling']
l2 = ['apples', 'bread', 'oats', 'salmon']
```


```
output:
['basketball',
 'apples',
 'gym',
 'bread',
 'football',
 'oats',
 'cycling',
 'salmon']
```

In [125]:
l1= ['basketball', 'gym', 'football', 'cycling']
l2= ['apples', 'bread', 'oats', 'salmon']
11.extend(12)
print(12)

SyntaxError: invalid syntax (<ipython-input-125-95dab88c4bf1>, line 3)

6. Take a string and calculate the number of letters and digits within it. Return the result in a dictionary.



```
e.g. 
txt = "H3ll0 Wor1d"

output:
{'LETTERS': 7, 'DIGITS': 3}
```

In [136]:
txt = "H3ll0 Wor1d"
txt = list(txt)
digit = 0
letter = 0
for i in txt:
    if i.isdigit() == True:
        digit += 1
    elif i.isalpha() == True:
        letter += 1
print("'LETTERS': {}, 'DIGITS': {}".format(letter,digit))

'LETTERS': 7, 'DIGITS': 3

7. Given a dictionary containing the names and ages of a group of people, return the name of the oldest person.



```
input:
people = {"Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29}

output:
'Emma'
```

In [177]:
people = {"Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29}
a = people.values()
find = max(a)
for k,v in people.items():
    if v == find:
        print(k)

Emma

8. Given two strings, return the total number of unique characters from the combined string.



```
e.g.
s1 = "apple"
s2 = "play"

ouput:5
```

In [197]:
s1 = "apple"
s2 = "play"
combine = set(list(s1)+list(s2))
len(combine)

5

9. You work for a manufacturer, and have been asked to calculate the total profit made on the sales of a product. You are given a dictionary containing the cost price per unit (in dollars), sell price per unit (in dollars), and the starting inventory. Return the total profit made, rounded to the nearest dollar. Assume all of the inventory has been sold.
```
{
  "cost_price": 32.67,
  "sell_price": 45.00,
  "inventory": 1200
}
```

In [209]:
product = {
"cost_price": 32.67,
"sell_price": 45.00,
"inventory": 1200
}
profit = (product['sell_price'] - product['cost_price'] )* product['inventory']
print(int(profit))

14795

10. Find the smallest number of letter removals so that two strings are anagrams of each other.

An anagram of a string is another string that contains same characters, only the order of characters can be different. For example, “abcd” and “dabc” are anagram of each other.

In [8]:
a = 'letter'
b = 'aeltterbcde'

print(set(list(a)))
print(set(list(b)))

{'r', 't', 'l', 'e'}
{'t', 'a', 'c', 'd', 'r', 'b', 'l', 'e'}

In [ ]:
s1 ='abcdd'
s2 = 'bcde'

In [1]:
def angm_creator(a,b):
    n = 0
    for i in a:
        if i not in b or a.count(i) > b.count(i):
            n += 1
            a = a.replace(i,'',1)
    for i in b:
        if i not in a or b.count(i) > a.count(i):
            n +=1
            b = b.replace(i,'',1)
    return n

In [2]:
angm_creator('abcdd','bcde')

3