# Python Data Types & Containers Exercise 2A (Compulsory)

1. Is the following list assignment correct? If not, explain why it isn't. If it is, print out _this_list_.
```
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
```

In [ ]:
#remove '' for 'two'
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, two, 3, four, list_1]
print(this_list)

2. What is the set of the tuple ```(1,2,3,33,3,3,4,5)```?

Expected output: `{1, 2, 3, 4, 5, 33}`

In [ ]:
set((1,2,3,33,3,3,4,5))

3. For the dictionary ```food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}```, add a new key in the dictionary called _milk_ with value 1.

Expected output: `{'eggs': 6, 'bacon': 1, 'sausages': 4, 'milk': 1}`

In [ ]:
food_counts['milk'] = 1
food_counts

4. For the string ```supercalifragilisticexpialidocious```, print out the string ```fragilistic``` using slicing.

In [ ]:
a = 'supercalifragilisticexpialidocious'
print(a[9:20])

5. Given the dictionary ```{1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}```

Return the string _'good job'_ through indexing.

In [26]:
a = {1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}

print(a['three'][1][3])

good job!

6. Return the total number of lists inside a given list.

```
eg.
for [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]] there are 4 sub-lists inside the list
```

In [ ]:
len([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]])

7. Return the indices of all occurrences of an item in the list.

```
eg.
For the list [1, 5, 2, 7, 5], if we are trying to find all of the occurrences of 5, their indices are 1 and 4
```

In [28]:
a = [1, 5, 2, 7, 5]

count = a.count(5)
c = 0
d = 5
index0 = 0

while True:
    print(a.index(d,index0))
    index0 = a.index(d) + 1
    c += 1
    if c == count:
        break

1
4

In [31]:
a_list = [1, 5, 2, 7, 5]
indices =[]
for i in range(len(a_list)):
    if a_list[i] == 5:
        indices.append(i)

print(indices)

[1, 4]

8. Take a dictionary and return the keys and values as separate lists.

e.g. if `dict={"a": "Apple", "b": "Microsoft", "c": "Google"}`

then output should be `[['a', 'b', 'c'], ['Apple', 'Microsoft', 'Google']]`

In [ ]:
dict={"a": "Apple", "b": "Microsoft", "c": "Google"}
dict.keys(),dict.values()

9. Take an integer and output an n x n square solely consisting of the integer n.

```
eg.
For n = 3,
the output should be

3, 3, 3
3, 3, 3
3, 3, 3
```

In [10]:
n =3
for i in range(n):
        print(', '.join(str(n)*3))

3, 3, 3
3, 3, 3
3, 3, 3

10. Given a phrase, return False if any individual word in the phrase contains duplicate letters. Return True otherwise.

In [27]:
phrase = "hello, how are you?"
word = phrase.split()
count = 0
for i in word:
    print(i)
    total = len(i)
    unique = len(set(i))
    if total == unique:
        count +=0

if count > 0:
    print('True')
else:
    print('False')

hello,
how
are
you?
False

In [71]:
phrase = input('phrase')
word_list = phrase.split()
counter = 0
for word in word_list:
    for letter in word:
        if word.count(letter) > 1:
            counter += 1
            
if counter > 1:
    print('False')
else:
    print('True')

phrasehello fd
False